body {
    margin:0;
}
.paymentform {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paymentformHeader, .paymentButton{
    margin-left: -10rem;
}